.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {

}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

    padding: 0 1em;
}

.button {
    display: flex;
    align-items: center;
    border: 1px solid rgba(32, 33, 36, 0.28);
    padding: 0 1em;
}

.button:hover {
    box-shadow: 0 1px 6px rgba(49, 126, 172, 0.28);
}